# Strings y Diccionarios

En este JNB se revisará el tema de Strings y Diccionarios.

In [ ]:
print("Hello World!")

Hello World!

In [1]:
claim = "No me gustó el producto de shein que ordené"

In [2]:
words = claim.split()
words

['No', 'me', 'gustó', 'el', 'producto', 'de', 'shein', 'que', 'ordené']

In [3]:
datestr = '1956-01-31'
year, month, day = datestr.split('-')

In [4]:
print(year)

1956

In [5]:
'/'.join([month, day, year])

'01/31/1956'

In [7]:
lista = ["Tomateros","Algodoneros","Naranjeros","Venados","Cañeros"]
print(",".join(lista))

Tomateros,Algodoneros,Naranjeros,Venados,Cañeros

In [16]:
texto = "anita lava la tina"
texto1 = texto.split()
print(texto1)
texto1="".join(texto1)
print(texto1)
texto2 = texto1[::-1]

['anita', 'lava', 'la', 'tina']
anitalavalatina

In [18]:
print(texto2)
texto1==texto2

anitalavalatina

True

In [23]:
def palindromo(texto):
    texto = texto.replace(" ","")
    return texto == texto[::-1]

In [24]:
palindromo("anita lava la tina")

True

In [25]:
palindromo("dabale arroz a la zorra el abad")

True

In [26]:
pi = 3.141592653589793
print(f"pi = {pi:.4f}")

pi = 3.1416

In [38]:
v = 245.3456789
print("{:.2f}".format(v))

245.35

In [39]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planet_to_initial = {planet: planet[0] for planet in planets}
planet_to_initial

{'Mercury': 'M',
 'Venus': 'V',
 'Earth': 'E',
 'Mars': 'M',
 'Jupiter': 'J',
 'Saturn': 'S',
 'Uranus': 'U',
 'Neptune': 'N'}

In [40]:
print(planet_to_initial.values())

dict_values(['M', 'V', 'E', 'M', 'J', 'S', 'U', 'N'])

In [41]:
print(planet_to_initial.keys())

dict_keys(['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune'])

In [42]:
print(planet_to_initial.items())

dict_items([('Mercury', 'M'), ('Venus', 'V'), ('Earth', 'E'), ('Mars', 'M'), ('Jupiter', 'J'), ('Saturn', 'S'), ('Uranus', 'U'), ('Neptune', 'N')])